# mac(Desktop Services Store)
**/.DS_Store

# IDEA
**/.idea
**/*.iml

# Eclipse
/.classpath
/.project
/.settings

# VSCode
/.vscode

# JavaScript
**/node_modules

# SBT(Scala) Source Root
**/.bsp
**/project

# Graddle
**/.gradle
**/settings.gradle

# Gradle, Maven, SBT(Scala) Build Output
**/build
**/out
**/target

# Private Study Resources
/private-resources
